profiles {
    spack        { includeConfig 'configs/spack.config'        }
    charliecloud { includeConfig 'configs/charliecloud.config' }
    conda        { includeConfig 'configs/conda.config'        }
    biohpc_gen   { includeConfig 'configs/biohpc_gen.config'   }
    local        { executor.name = 'local'                     }
}
