profiles {
    spack        { includeConfig 'configs/spack.config'        }
    charliecloud { includeConfig 'configs/charliecloud.config' }
    conda        { includeConfig 'configs/conda.config'        }
    biohpc_gen   { includeConfig 'configs/biohpc_gen.config'   }
    local        { executor.name = 'local'                     }
}

params {
    publish_dir_mode = 'copy'
    samplesheet = false
    reference = 'Col-CEN_v1.2'
    ref_genome = '/dss/dsslegfs01/pn73so/pn73so-dss-0000/becker_common/reference_genomes/Arabidopsis/Col-CEN/Col-CEN_v1.2.fasta'
    pairwise = true
    subset_pattern = "Chr[1-5]"
    out = './results'
}