profiles {
    docker       { includeConfig 'configs/docker.config'        }
    charliecloud { includeConfig 'configs/charliecloud.config' }
    conda        { includeConfig 'configs/conda.config'        }
    biohpc_gen   { includeConfig 'configs/biohpc_gen.config'   }
    local        { executor.name = 'local'                     }
}

params {
    publish_dir_mode = 'copy'
    samplesheet = false
    reference = 'Col-CEN_v1.2'
    ref_genome = '$projectDir/assets/Col-CEN_v1.2.fasta'
    pairwise = true
    reorient = false
    subset_pattern = "Chr[1-5]"
    plotsr_conf = "$projectDir/assets/plotsr_config.conf"
    plotsr_args = '-S 0.9 -W 7 -H 8 -f 12'
    plotsr_tracks = ''
    plotsr_colors = "#F0A0FF #0075DC #993F00 #4C005C #191919 #005C31 #2BCE48 #FFCC99 #808080 #94FFB5 #8F7C00 #9DCC00 #C20088 #003380 #FFA405 #FFA8BB #426600 #FF0010 #5EF1F2 #00998F #E0FF66 #740AFF #990000 #FFFF80 #FFE100 #FF5005"
    out = './'
}