/* -------------------------------------------------
 * Nextflow config file
 * -------------------------------------------------
 */

process {
  errorStrategy = { ( task.exitStatus == 143 || task.exitStatus == 137 ) ? 'retry' : 'finish' }
  maxRetries = 3
  maxErrors = '-1'

  withName: 'ALIGN.*' {
	  cpus = {1 * task.attempt }
	  memory = { 4.GB * task.attempt }
  	time = { 2.h * task.attempt }
  }
  withName: 'FIXCHR.*|SYRI.*|PLOTSR.*' {
	  cpus = {1 * task.attempt }
	  memory = { 4.GB * task.attempt }
  	time = { 2.h * task.attempt }
  }
  withName: 'SEQTK.*' {
	  cpus = {1 * task.attempt }
	  memory = { 2.GB * task.attempt }
  	time = { 1.h * task.attempt }
  }
  withName: SEQKIT_GET_LENGTH {
	  cpus = {1 * task.attempt }
	  memory = { 1.GB * task.attempt }
  	time = { 30.min * task.attempt }

  }
}

