/* ----------------------------------------------------
 * Nextflow config file for the BioHPC Genomics Cluster
 * ----------------------------------------------------
 */

env {
  SLURM_CLUSTERS='biohpc_gen'
}

process {
  executor = 'slurm'
  queue = { task.memory <= 1536.GB ? (task.time > 2.d || task.memory > 384.GB ? 'biohpc_gen_production' : 'biohpc_gen_normal') : 'biohpc_gen_highmem' }
}

charliecloud {
  enabled = true
}

process {
  withName: 'ALIGN.*' {
	  cpus = {8 * task.attempt }
	  memory = { 16.GB * task.attempt }
  	time = { 1.h * task.attempt }
  }
  withName: 'FIXCHR.*|SYRI.*|PLOTSR.*' {
	  cpus = {8 * task.attempt }
	  memory = { 16.GB * task.attempt }
  	time = { 1.h * task.attempt }
  }
  withName: 'SEQTK.*' {
	  cpus = {8 * task.attempt }
	  memory = { 16.GB * task.attempt }
  	time = { 1.h * task.attempt }
  }
  errorStrategy = 'retry'
  maxRetries = 3
  maxErrors = '-1'
}

