charliecloud.enabled = true

process {
    withName: 'ALIGN.*' {
        container = "gitlab.lrz.de:5005/beckerlab/container-playground/minimap2-samtools:697815eb"
    }
    withName: 'FIXCHR.*|SYRI.*|PLOTSR.*'{
        container = "gitlab.lrz.de:5005/beckerlab/container-playground/fixchr-syri-plotsr:028a8ed9"
    }
    withName: 'SEQTK.*' {
        container = "quay.io/biocontainers/seqtk:1.4--he4a0461_1"
    }

}