charliecloud.enabled = true

process {
    withName: 'ALIGN.*' {
        container = "gitlab.lrz.de:5005/beckerlab/container-playground/minimap2-samtools:697815eb"
    }

    withName: 'SYRI.*' {
        container = "quay.io/biocontainers/syri:1.6.3--py38h8ded8fe_0"
    }
    withName: 'PLOTSR.*' {
        container = "quay.io/biocontainers/plotsr:1.1.1--pyh7cba7a3_0"
    }
}