conda {
    enabled = true
}

process {
    withName: 'ALIGN.*' {
        conda = 'minimap2 samtools'
    }
    withName: 'FIXCHR.*|SYRI.*|PLOTSR.*'{
        conda = 'fixchr syri plotsr'
    }
    withName: 'SEQTK.*' {
        conda = 'seqtk'
    }
    withName: 'SEQKIT.*' {
        conda = 'seqkit'
    }
}