conda {
    enabled = true
}

process {
    withName: 'ALIGN.*' {
        conda = 'minimap2 samtools'
    }
    withName: 'SYRI.*|'{
        conda = 'syri'
    }
    withName: 'PLOTSR.*'{
        conda = 'plotsr'
    }
    withName: 'SEQTK.*' {
        conda = 'seqtk'
    }
    withName: 'SEQKIT.*' {
        conda = 'seqkit'
    }
}