docker.enabled = true

process {
    withName: 'ALIGN.*' {
        container = "quay.io/schandry_containers/minimap2-samtools:latest"
    }
    withName: 'FIXCHR.*|SYRI.*|PLOTSR.*'{
        container = "quay.io/schandry_containers/fixchr-syri-plotsr:latest"
    }
    withName: 'SEQTK.*' {
        container = "quay.io/biocontainers/seqtk:1.4--he4a0461_1"
    }
    withName: 'SEQKIT.*' {
        container = "quay.io/biocontainers/seqkit:2.4.0--h9ee0642_0"
    }

}